
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #fff;
}

body {
  background-color: #3daaf6;
  color: white;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}
h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 5px 0;
}
h1+p {
  font-size: 23px;
  max-width: 450px;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.personalInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-top: 20px;
}
input {
  border: none;
  padding: 20px;
  font-size: 15px;
}
.form-element > input {
  border-radius: 5px;
  width: 260px;
}
.form-element-radio {
  border: 1px solid #fff;
  padding-top: 10px;
  margin: 20px auto;
  padding: 15px;
  width: 540px;
  gap: 5px;
}
#join-as1 + label {
  margin-left: 15px;
  font-size: 18px;
}
#join-as2 + label {
  margin-left: 5px;
  font-size: 18px;
}
div+p {
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 20px;
}
#join-as1-p{
  margin-left: 30px;
}
footer {
  padding: 15px 0;
  width: 540px;
  margin: auto;
}
footer>button {
  border: none;
  background-color: #28d2d1;
  color: white;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
}
.form-element-chek {
  width: 540px;
  margin: auto;
  padding: 0px 15px; 
}
.form-element-chek > label {
  margin-left: 10px;
  font-size: 16px;
}